# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Jupyter
notebooks/.ipynb_checkpoints/
.ipynb_checkpoints/

# Environment
.env

# Models
models/*
!models/.gitkeep
*.pkl
*.h5
*.pt
*.onnx

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
